<div class="row">
    <div class="col-12">
        <div custom-loading [load]="load" class="card">
            <div class="sk-folding-cube sk-spinner">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
            <div class="card-body">
                <div class="d-flex flex-wrap m-b-30">
                    <div>
                        <h3 *ngIf="nuevo" class="card-title"><span class="lstick"></span>AGREGAR TICKET</h3>
                        <h3 *ngIf="!nuevo" class="card-title"><span class="lstick"></span>EDITAR TICKET</h3>
                    </div>
                </div>
                <form ngNativeValidate #f="ngForm" (ngSubmit)="agregar( f )">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label>Solicitante: </label>
                            <input [(ngModel)]="forma.nombre" name="nombre" type="text" class="form-control" required>
                        </div>

                        <div class="form-group col-md-4">
                            <label>Area</label>
                            <select class="custom-select col-12" [disabled]="true" [(ngModel)]="forma.area" name="area" required>
                               <option  value="0">Interior</option>
                               <option  value="1">Exterior</option>
                               <option  value="2">No Definido</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Correo: </label>
                            <input [(ngModel)]="forma.correo" name="correo" type="text" class="form-control" required>
                        </div>

                        <div class="form-group col-md-3">
                            <label>Tel&eacute;fono</label>
                            <input [(ngModel)]="forma.telefono" name="telefono" type="text" class="form-control" required>
                        </div>

                        <div class="form-group col-md-3">
                            <label>Extensi&oacute;n</label>
                            <input [(ngModel)]="forma.extension" name="extension" type="text" class="form-control" required>
                        </div>
                    </div>

                    <div class="row">

                        <div class="form-group col-md-6">
                            <label>Direcci&oacute;n</label>
                            <select class="custom-select col-12" [(ngModel)]="forma.iddireccion" (ngModelChange)="cambioDireccion()" name="iddireccion" required>
                                <option *ngFor="let d of direcciones" value="{{d.iddireccion}}">{{d.direccion}}</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label>Subdirecci&oacute;n</label>
                            <select class="custom-select col-12" [(ngModel)]="forma.idsubdireccion" name="idsubdireccion" [disabled]="forma.iddireccion == 0" (ngModelChange)="cambioSubdireccion()" required>
                                <option  *ngFor="let s of subdirecciones" [ngValue]="s.idsubdireccion">{{s.subdireccion}}</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        <label>Servicio Solicitado</label>
                        <textarea [(ngModel)]="forma.descripcion" name="descripcion" type="text" class="form-control" rows="6" required></textarea>
                    </div>

                    <div class="row">

                        <div class="form-group col-md-6">
                            <label>Medio: </label>
                            <select class="custom-select col-12" [(ngModel)]="forma.medio" name="medio" (ngModelChange)="oficio()" required>
                                   <option value="Oficio">Oficio</option>
                                   <option value="Telefono">Telefono</option>
                                   <option value="Correo">Correo</option>
                                   <option value="Personal">Personal</option>
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label>No. Oficio: </label>
                            <input [(ngModel)]="forma.oficio" name="oficio" type="text" class="form-control" [disabled]="forma.medio !='Oficio'" required>
                        </div>

                        <div class="form-group col-md-3">
                            <label>Folio del equipo: </label>
                            <input [(ngModel)]="forma.equipo" name="equipo" type="text" class="form-control" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label>Asignar a: </label>
                            <select class="custom-select col-12" [(ngModel)]="forma.idusuario" name="idusuario" required>
                    <option *ngFor="let u of usuarios" value="{{u.idusuario}}">{{u.nombre}}</option>
                  </select>
                        </div>



                    </div>





                    <hr>
                    <div class="row">
                        <div class="col text-left">
                            <button type="button" [routerLink]="['/tickets']" class="btn btn-danger">Cancelar</button>
                        </div>
                        <div class="col text-right">
                            <button [disabled]="!f.valid" class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Agregar </button>
                        </div>
                    </div>
                    <div class="alert alert-danger mt-2" role="alert" *ngIf="errMsj">
                        <small>{{errMsj}}</small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>