<div class="row">
    <div class="col-12">
        <div custom-loading [load]="load" class="card">
            <div class="sk-folding-cube sk-spinner">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
            <div class="card-body">
                <div class="d-flex flex-wrap m-b-30">
                    <div>
                        <h3 class="card-title"><span class="lstick"></span>Reporte Servicios</h3>
                    </div>
                </div>
                <p class="alert alert-danger mt-2 text-center" role="alert" *ngIf="errMsj">
                    {{errMsj}}
                </p>
                <div class="row" *ngIf="verCalen">
                    <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                        outsideDays="hidden">
                    </ngb-datepicker>

                    <ng-template #t let-date let-focused="focused">
                        <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                            [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                            (mouseleave)="hoveredDate = null;">
                            {{ date.day }}
                        </span>
                    </ng-template>
                </div>
                <div class="row">
                    <div class="col-7 mb-5">
                        <div class="inline float-left ml-2 fechasbo" *ngIf="fromDate && toDate">
                            <p class="form-control">{{fromDate.day}}/{{fromDate.month}}/{{fromDate.year}}</p>
                            <button class="btn btn-outline-info btn-sm mb-1" (click)="verCalen = !verCalen"><i
                                    class="fa fa-calendar"></i></button>
                            <p class="form-control">{{toDate.day}}/{{toDate.month}}/{{toDate.year}}</p>
                        </div>
                        <div class="float-left ml-2" *ngIf="fromDate && toDate">
                            <button type="button" class="btn btn-info ml-2" (click)="loadData()">
                                Listar </button>
                            <button type="button" class="btn btn-info ml-2" (click)="descargar()"><i
                                    class="fa fa-file-word-o">
                                </i> Descargar </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th width="10px">
                                            <button type="button" class="btn btn-outline-primary btn-sm"
                                                (click)="selectAll()">
                                                <i class="fa fa-check text-primary"></i>
                                            </button>
                                        </th>
                                        <th>SERVICIO</th>
                                        <th>TOTAL</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="servicios != null && servicios.length != 0">
                                    <tr *ngFor="let e of servicios; let i = index">
                                        <td>
                                            <div class="custom-control custom-checkbox mr-sm-2 m-b-15">
                                                <input type="checkbox" class="custom-control-input"
                                                    [(ngModel)]="e.selected" id="{{i}}" value="{{e.idservicio}}">
                                                <label class="custom-control-label" for="{{i}}"></label>
                                            </div>
                                        </td>
                                        <td>{{e.servicio}}</td>
                                        <td>{{e.total}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="alert alert-danger mt-2 text-center" role="alert"
                                *ngIf="servicios == null || servicios.length == 0">
                                No hay datos
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>