<div class="row">
    <div class="col-12">
        <div custom-loading [load]="load" class="card">
            <div class="sk-folding-cube sk-spinner">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
            <div class="card-body">
                <div class="modal-header">
                    <p class="texto-azul">Cambiar Estado</p>
                    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form #f="ngForm">
                        <div class="form-group">
                            <label>Estado:</label>
                            <select class="form-control" name="idusuario" [(ngModel)]="forma.idestado" required>
                                <option *ngFor="let estado of estados"
                                    [value]="estado.idestado">{{estado.estado}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Comentario:</label>
                            <textarea class="form-control" name="comentario" [(ngModel)]="forma.comentario" required></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col text-left">
                        <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Cancelar</button>
                    </div>
                    <!--
                    <div class="col text-right">
                        <button class="btn btn-primary" (click)="agregar()"><i class="fa fa-save"></i> Guardar</button>
                    </div> -->
                    <button type="button" class="btn btn-primary" [disabled]="f.invalid"
                        (click)="agregar()">Cambiar</button>
                </div>
            </div>
        </div>
    </div>
</div>