<div class="row">
    <div class="col-12">
        <div custom-loading [load]="load" class="card">
            <div class="sk-folding-cube sk-spinner">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
            <div class="card-body">
                <div class="d-flex flex-wrap m-b-30">
                    <div>
                        <h3 class="card-title"><span class="lstick"></span>TICKETS</h3>
                    </div>
                </div>
                <p class="alert alert-danger mt-2 text-center" role="alert" *ngIf="errMsj">
                    {{errMsj}}
                </p>
                <button type="button" [routerLink]="['agregar']" class="btn btn-primary">Agregar Ticket</button>
                <div class="row">
                    <div class="col-md-3">
                        <label>Rol: </label>
                        <select [(ngModel)]="filtros.idrolasignado" (ngModelChange)="cargarUsuarios()" class="form-control-sm custom-select">
              <option value="">TODOS</option>
              <option *ngFor="let rol of roles" value="{{rol.idrol}}">{{rol.rol}}</option>
            </select>
                    </div>
                    <div class="col-md-3">
                        <label>Usuario: </label>
                        <select [(ngModel)]="filtros.idusuarioasignado" class="form-control-sm custom-select">
              <option value="">TODOS</option>
              <option *ngFor="let usuario of usuarios" value="{{usuario.idusuario}}">{{usuario.nombre}}</option>
            </select>
                    </div>
                    <div class="col-md-3">
                        <label>Estado: </label>
                        <select [(ngModel)]="filtros.idestado" class="form-control-sm custom-select">
                          <option value="">TODOS</option>
                          <option *ngFor="let estado of estados" value="{{estado.idestado}}">{{estado.estado}}
                          </option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="col mb-2 text-right">
                            Registros por pagina
                            <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="rpp">
                                <label ngbButtonLabel class="btn-primary" (click)="loadRpp(10)"> <input ngbButton type="radio"
                             [value]="10">
                           10 </label>
                                <label ngbButtonLabel class="btn-primary" (click)="loadRpp(20)"><input ngbButton type="radio"
                             [value]="20">
                           20</label>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>TICKET</th>
                                        <th>FECHA</th>
                                        <th>CAPTURO</th>
                                        <th>SOLICITANTE</th>
                                        <th>SECRETARÍA</th>
                                        <th>SUBDIRECCIÓN</th>
                                        <th>OPCIONES</th>
                                    </tr>
                                    <tr>
                                        <th><input [(ngModel)]="filtros.idticket" autocomplete="off" (ngModelChange)="filtrar()" name="idticket" class="form-control form-control-sm" type="text"></th>
                                        <th><input [(ngModel)]="filtros.fecha" autocomplete="off" (ngModelChange)="filtrar()" name="fecha" class="form-control form-control-sm" type="text">
                                        </th>
                                        <th><input [(ngModel)]="filtros.capturo" autocomplete="off" (ngModelChange)="filtrar()" name="capturo" class="form-control form-control-sm" type="text">
                                        </th>
                                        <th><input [(ngModel)]="filtros.solicitante" autocomplete="off" (ngModelChange)="filtrar()" name="solicitante" class="form-control form-control-sm" type="text"></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="tickets != null && tickets.length != 0">
                                    <tr *ngFor="let t of tickets" [ngStyle]="{'background-color':t.color}">
                                        <td>{{t.idticket}}</td>
                                        <td>{{t.fecha}}</td>
                                        <td>
                                            {{t.capturo}}
                                        </td>
                                        <td>
                                            {{t.solicitante}}
                                        </td>
                                        <td>
                                            {{t.secretaria}}
                                        </td>
                                        <td>
                                            {{t.subdireccion}}
                                        </td>
                                        <td width="6%">
                                            <button type="button" class="btn btn-primary btn-sm" [routerLink]="['editar', t.idticket]"><i class="fa fa-pencil"></i></button>
                                            <button type="button" class="btn btn-secondary btn-sm" [routerLink]="['ver', t.idticket]"><i  class="fa fa-eye"></i>
                                            </button>
                                        </td>



                                    </tr>
                                </tbody>
                            </table>
                            <p class="alert alert-danger mt-2 text-center" role="alert" *ngIf="tickets == null || tickets.length == 0">
                                No hay datos
                            </p>
                        </div>
                        <div class="row">
                            <div class="col left">
                                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [(page)]="pageG" [directionLinks]="true" (pageChange)="loadPage($event)" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
                                </ngb-pagination>
                            </div>
                            <div class="col text-right">
                                Total de registros: {{totalCount}}
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>