<div class="row">
    <div class="col-12">
        <div custom-loading [load]="load" class="card">
            <div class="sk-folding-cube sk-spinner">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
            <div class="card-body">
                <button *ngIf="ticket.idestado != '4' && ticket.idestado != '6'" type="button" class="btn btn-primary mr-1" (click)="asignar()"><i class="fa fa-user-plus"></i>
                    Asignar</button>
                <button *ngIf="ticket.idestado != '4' && ticket.idestado != '6'" type="button" class="btn btn-primary mr-1" (click)="cam_estado()"><i class="fa fa-exchange"></i>
                    Cambiar Estado</button>
                <button type="button" class="btn btn-primary mr-1" (click)="comentario()"><i class="fa fa-comments"></i> Comentario</button>
                <p class="alert alert-danger mt-2 text-center" role="alert" *ngIf="errMsj">
                    {{errMsj}}
                </p>
            </div>
        </div>
        <div custom-loading [load]="load" class="card">
            <div class="sk-folding-cube sk-spinner">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
            <div class="card-body">
                <div class="d-flex flex-wrap m-b-30 b-b">
                    <div>
                        <h3 class="card-title"><span class="lstick"></span>Ver Ticket: <span
                                style="color:#2a5ea1">{{ticket.idticket}}</span></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="row mb-1">
                            <div class="col-6 text-right font-medium">
                                Estado:
                            </div>
                            <div class="col-6 ">
                                <span class="label label-default label-personalizado"
                                    [style.backgroundColor]="ticket.color"
                                    [style.padding]="padding">{{ticket.estado}}</span>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-6 text-right font-medium">
                                Fecha:
                            </div>
                            <div class="col-6 ">
                                {{ticket.fecha_creacion | date}}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-6 text-right font-medium">
                                Solicitante:
                            </div>
                            <div class="col-6 ">
                                {{ticket.solicitante}}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-6 text-right  font-medium">
                                Telefono:
                            </div>
                            <div class="col-6 ">
                                {{ticket.telefono}}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-6 text-right font-medium">
                                Extension:
                            </div>
                            <div class="col-6 ">
                                {{ticket.extension}}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-6 text-right font-medium">
                                Correo:
                            </div>
                            <div class="col-6 ">
                                {{ticket.correo}}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-6 text-right font-medium font-medium">
                                Capturo:
                            </div>
                            <div class="col-6 ">
                                {{ticket.capturo}}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-6 text-right font-medium font-medium">
                                Asigando a:
                            </div>
                            <div class="col-6 ">
                                {{ticket.usuario_asignado}}
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row mb-1">
                            <div class="col-6 text-right font-medium font-medium">
                                Secretaria:
                            </div>
                            <div class="col-6 ">
                                {{ticket.secretaria}}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-6 text-right font-medium">
                                Direcci&oacute;n:
                            </div>
                            <div class="col-6 ">
                                {{ticket.direccion}}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-6 text-right font-medium">
                                Subdirecci&oacute;n:
                            </div>
                            <div class="col-6 ">
                                {{ticket.subdireccion}}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-6 text-right font-medium">
                                Medio:
                            </div>
                            <div class="col-6 ">
                                {{ticket.medio}}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-6 text-right font-medium">
                                Equipo:
                            </div>
                            <div class="col-6 ">
                                {{ticket.equipo}}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-6 text-right font-medium">
                                Ip:
                            </div>
                            <div class="col-6 ">
                                {{ticket.ip}}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-6 text-right font-medium">
                                MAC:
                            </div>
                            <div class="col-6 ">
                                {{ticket.mac}}
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row mb-1">
                            <div class="col-3 text-right font-medium">
                                Descripci&oacute;n:
                            </div>
                            <div class="col-9 ">
                                {{ticket.descripcion}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-12">
                    <ngb-tabset>
                        <ngb-tab>
                            <ng-template ngbTabTitle><i class="fa fa-comments"></i> Comentarios</ng-template>
                            <ng-template ngbTabContent>
                                <div class="alert alert-warning" *ngIf="ticket.comentarios.length==0">
                                    <i class="fa fa-warning"></i> No hay ningun comentario.
                                </div>
                                <div class="table-responsive" *ngIf="ticket.comentarios.length > 0">
                                    <table class="table table-bordered">
                                        <thead>
                                            <th>Fecha</th>
                                            <th>Usuario</th>
                                            <th>Comentario</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let comentario of ticket.comentarios">
                                                <td>{{comentario.fecha | date:'medium'}}</td>
                                                <td>{{comentario.usuario}}</td>
                                                <td>{{comentario.comentario}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle><i class="fa fa-exchange"></i> Estados</ng-template>
                            <ng-template ngbTabContent>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <th>Fecha</th>
                                            <th>Estado</th>
                                            <th>Usuario</th>
                                            <th>Comentario</th>
                                            <th>Asignado</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let estado of ticket.testados">
                                                <td>{{estado.fecha | date:'medium'}}</td>
                                                <td><span class="label label-default label-personalizado" [style.backgroundColor]="estado.color"
                                                    [style.padding]="padding">{{estado.estado}}</span></td>
                                                <td>{{estado.usuario}}</td>
                                                <td>{{estado.comentario}}</td>
                                                <td>{{estado.asignado}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle><i class="fa fa-users"></i> Asignaciones</ng-template>
                            <ng-template ngbTabContent>
                                <div class="profiletimeline">
                                    <div class="sl-item" *ngFor="let ta of ticket.asignaciones">
                                        <div class="sl-right">
                                            <div>
                                                <p>
                                                    <span class="font-weight-bold">{{ta.asigno}}</span> asigno a <span class="font-weight-bold">{{ta.asignado}}</span>
                                                </p>
                                                <span class="sl-date">{{ta.tiempo}} - {{ta.fecha_creacion | date:'medium'}}</span>
                                                <p>{{ta.comentario}}</p>
                                            </div>
                                        </div>
                                        <hr>                                    
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="alert alert-danger mt-2 text-center" role="alert" *ngIf="0">
                            No hay datos
                        </p>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>