<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="sk-folding-cube sk-spinner">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
            <div class="card-body">
                <div class="modal-header">
                    <p class="texto-azul">Asignar ticket</p>
                    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>Asignar a:</label>
                            <select class="form-control" name="idusuario" [(ngModel)]="asignar.idusuario">
                                <option *ngFor="let usuario of usuarios" [hidden]="usuario.idusuario == idusuario_asignado"
                                    [value]="usuario.idusuario">{{usuario.nombre}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Comentario:</label>
                            <textarea class="form-control" name="comentario" [(ngModel)]="asignar.comentario"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col text-left">
                        <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Cancelar</button>
                    </div>
                    <button type="button" class="btn btn-outline-primary" [disabled]="asignar.comentario == '' || asignar.idusuario == ''"
                        (click)="asignarUsuario()">Asignar</button>
                </div>
            </div>
        </div>
    </div>
</div>